-#%header.navbar.navbar-fixed-top.navbar-inverse
  .container.header
    = link_to t('.logo_title'), root_path, id: "logo"
    .rails_logo
      = link_to image_tag("ruby.ico", alt: "Rails logo")
      %p.locale

        = link_to image_tag("Russia.jpg", alt: "",  style: "width: 10%; height: 10%", title: "Русский" ), locale: :ru

        = link_to image_tag("United_Kingdom.jpg", alt: "",  style: "width: 12%; height: 12%", title: "English"), locale: :en
        %b
          = I18n.locale
    %nav
      %ul.nav.navbar-nav.pull-right
        %li= link_to t('.home'), root_path
        %li= link_to t('.help'), help_path
        - if signed_in?
          %li.logged
            #{current_user.email}
          = gravatar_for current_user
          %li#fat-menu.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %p
                = t('.person')
                %b.caret
            %ul.dropdown-menu
              %li= link_to t('.profile'), current_user
              %li= link_to t('.settings'), '#'
              %li.divider
              %li
                = link_to t('.sign_out'), signout_path, method: "delete"
        - else
          %li= link_to t('.sign_in'), signin_path
-#%script{:src=>"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js", :integrity=>"sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", :crossorigin=>"anonymous"}
-#%script{:src=>"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", :integrity=>"sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :crossorigin=>"anonymous"}
-#%div.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.shadow-sm
  %h2.my-0.mr-md-auto.font-weight-bold{:href=> index_path}
    =t('.logo_title')

  %nav.my-2.my-md-0.mr-md-1
    %a.p-2.text-dark{href:index_path}
      =t('.home')
    %a.p-2.text-dark{href: about_path}
      =t('main.about.about_title')
  - if signed_in?
    %a.p-2.text-dark
      #{current_user.email}
    %a.p-2.text-dark
      = gravatar_for current_user
    .dropdown.open
      %a.btn.btn-outline-primary.dropdown-toggle{:href=>"#", :role=>"button", :id=>"dropdownMenuLink", "data-toggle"=>"dropdown", "aria-expanded"=>"true"}
        =t('.person')
      .dropdown-menu
        %a.dropdown-item= link_to t('.profile'), current_user
        -#%a.dropdown-item{href: "#"}
          =t('.profile')
        %a.dropdown-item= link_to t('.settings'), '#'
        .dropdown-divider
        %a.dropdown-item= link_to t('.sign_out'), signout_path, method: "delete"
    %a.p-2.text-dark
    %a.p-2.text-dark
    %a.p-2.text-dark
    %a.p-2.text-dark
    %a.p-2.text-dark
    %a.p-2.text-dark
  - else
    %a.btn.btn-outline-primary{:href=> signin_path}
      =t('.sign_in')
-#%header.navbar.navbar-fixed-top.navbar-inverse
  .container.header
    = link_to t('.logo_title'), root_path, id: "logo"
    .rails_logo
      = link_to image_tag("ruby.ico", alt: "Rails logo", style: "width: 12%; height: 12%",)
      %p.locale

        = link_to image_tag("Russia.jpg", alt: "",  style: "width: 10%; height: 10%", title: "Русский" ), locale: :ru

        = link_to image_tag("United_Kingdom.jpg", alt: "",  style: "width: 12%; height: 12%", title: "English"), locale: :en
        %b
          = I18n.locale
    %nav
      %ul.nav.navbar-nav.pull-right
        %li= link_to t('.home'), root_path
        %li= link_to t('.help'), help_path
        - if signed_in?
          %li.logged
            #{current_user.email}
          = gravatar_for current_user
          %li.fat-menu.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %p
                = t('.person')
                %b.caret
            %ul.dropdown-menu
              %li= link_to t('.profile'), current_user
              %li= link_to t('.settings'), '#'
              %li.divider
              %li
                = link_to t('.sign_out'), signout_path, method: "delete"
        - else
          %li= link_to t('.sign_in'), signin_path
-#%script{:src=>"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js", :integrity=>"sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", :crossorigin=>"anonymous"}
-#%script{:src=>"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", :integrity=>"sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :crossorigin=>"anonymous"}
%div.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.shadow-sm
  %h2.my-0.mr-md-auto.font-weight-bold{:href=> index_path}
    =t('.logo_title')
  %nav
    %a.p-2.text-dark{href:index_path}
      =t('.home')
    %a.p-2.text-dark{href: about_path}
      =t('main.about.about_title')
  - if signed_in?
    %a
      #{current_user.email}
    = gravatar_for current_user
    %li.dropdown
      = t('.person')
      %ul.dropdown-menu
        %li= link_to t('.profile'), current_user
        %li= link_to t('.settings'), '#'
        %li.divider
        %li
          = link_to t('.sign_out'), signout_path, method: "delete"
    %a.p-2.text-dark
    %a.p-2.text-dark
    %a.p-2.text-dark
    %a.p-2.text-dark
    %a.p-2.text-dark
    %a.p-2.text-dark
    %a.p-2.text-dark
    %a.p-2.text-dark
    %a.p-2.text-dark
  - else
    %li= link_to t('.sign_in'), signin_path